<div>
    <table>
        <tr><th>Detail</th><th>Link</th></tr>
        <tr><td>User Name</td><td><h2>{{request.user}}</h2></td></tr>
        <tr><td>Login Home</td><td><a href="{% url 'home' %}">Click to Home</a></td></tr>
        <tr><td>Login Page</td><td><a href="{% url 'login' %}">Click to Login</a></td></tr>
        <tr><td>Logout Page</td><td><a href="{% url 'logout' %}">Click to Logout</a></td></tr>
        <tr><td>Registration Page</td><td><a href="{% url 'register' %}">Click to Register</a></td></tr>
        <tr><td>Profile Page</td><td><a href="{% url 'profile' %}">Click to Profile</a></td></tr>
        <tr><td>Buyer1 Page</td><td><a href="{% url 'buyer1' %}">Click to Buyer1</a></td></tr>
        <tr><td>Buyer2 Page</td><td><a href="{% url 'buyer2' %}">Click to Buyer2</a></td></tr>
        <tr><td>Seller1 Page</td><td><a href="{% url 'seller1' %}">Click to Seller1</a></td></tr>
        <tr><td>Seller2 Page</td><td><a href="{% url 'seller2' %}">Click to Seller2</a></td></tr>
        <tr><td>Unsecure1 Page</td><td><a href="{% url 'unsecure1' %}">Click to Unsecure1</a></td></tr>
        <tr><td>Unsecure2 Page</td><td><a href="{% url 'unsecure2' %}">Click to Unsecure2</a></td></tr>


    </table>
</div>